/* font style  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
/* common style  */

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
main p{
    font-weight: 500;
    font-size: 16px;
    color: #6C6C6C;
}
/*-------------
 header style 
  -------------*/
.head-area{
    
    background-color: rgb(9, 9, 73);
    padding: 81px 10px 42px 140px;
}
.head{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
}

.bannar-img{
    margin-top: 60px;
}
.bannar-img img{
    width: 556.01px;
    height: 438px;
    transition: transform 5s ease-in;
}
.bannar-img :hover{
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.caption{
    
    padding-bottom: 50px;
    margin-bottom: 80px;
}

.caption p{
    width: 485px;
    height: 230px;
    color: #FFFFFF;
    font-size: 64px;
    padding-bottom: 20px;
}
.caption a {
    font-weight: 400;
}
.fa-arrow-right{
    width: 24px;
    height: 24px;
    margin: 0px 8px;
    color: #FFFFFF;
}
.caption a {
    width: 168px;
    height: 44px;
    background: #E02C6D;
    padding: 10px 24px;
    text-decoration: none;
    
    
}
.caption span{
    width: 88px;
    height: 24px;
    color: #FFFFFF;
    font-size: 16px;
}
/* -----------
players section style 
  --------------*/
.player-section{
    padding: 70px 125px 165px 144px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 45px;
    grid-row-gap: 27px;
}
.player{
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
   
}
.player-info img{
    padding-left: 15px;
    width: 300px;
    height: 256px;
    padding-top: 15px;
}
.players-details{
    width: 300px;
    height: 154px;
    padding: 15px 15px 30px 15px;
}
.players-details h4{
    font-size: 28px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}


/* footer style  */
.footer{
    width: 483.87px;
    height: 213px;
    margin: 0px 485px 63px 475px;
}
.footer-img img{
    width: 483.87px;
    height: 110px;
}
.icons{
    margin: 20px 157px 20px 157px;
   
}
.icons img{
    width: 32px;
    height: 32px;
}
.footer p{
    margin: 0px 123px;
}



/* media queries style for mobile */
@media only screen and (max-width: 688px) {
    
/* header area  */

    .head-area{
        width: 100%;
        background-color: rgb(9, 9, 73);
        padding: 0px ;
    }
    
    .head{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 10px;
    }
    .caption{
        width: 278px;
        height: 138px;
        padding-left: 15px;
        padding-bottom: 50px;
    }
    .caption p{
        width: 278px;
        height: 138px;
        font-size: 36px;
    }
    .caption a{
        padding: 15px;
    }
    .bannar-img img{
        padding-left: 15px;
        padding-bottom: 60px;
        width: 329px;
        height: 259.17px;
        transition: transform 5s ease-in;
    }
    .bannar-img :hover{
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    /* players section area  */
    .player-section{
        width: 100%;
        padding: 0px;
    }
    .players{
        margin: 50px 15px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 45px;
        grid-row-gap: 27px;
    }
    .player{
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
       
    }
    .player-info{
        width: 300px;
        height: 256px;
    }
    .players-details{
        width: 300px;
        height: 154px;
        
        padding-top: 16px;
    }
    .players-details h4{
        
        font-size: 16px;
        padding-top: 0px;
        margin-top: 16px;
        margin-bottom: 0px;
    }

    /* footer style  */
    .footer{
        width: 100%;
        margin: 0px;
        padding-bottom: 167px;
        padding-top: 42px;
    }
    .footer-img{
        padding-left: 25px;
       
        margin-right: 60px;
    }
    .footer-img img{
        width: 100%;   
    }
    .icons{
        display: flex;
        margin: 10px 95px 20px;
        justify-content: space-around;
    }
    .footer p{
    margin: 0px;
    font-size: 18px;
    text-align: center;
    }
    
}
/* media queries for iPad  */
@media only screen and (min-width: 689px) and (max-width: 992px){
    /* header style  */
    .head-area{
        width: 100%;
        background-color: rgb(9, 9, 73);
        padding: 0px 0px 80px 0px;
    }
    .head{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 10px;
        justify-items: center;
    }

    /* players style  */

    .player-section {
        padding: 30px;
    }
    .players {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 45px;
        grid-row-gap: 27px;
    }
    .bannar-img img{
        padding-left: 15px;
        padding-bottom: 60px;
        width: 100%;
        transition: transform 5s ease-in;
    }
    .bannar-img :hover{
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }


    /* footer style  */
    .footer{
        width: 100%;
        height:700px;
        margin: 80px 0px;
    }
    .footer-img{
        margin: 20px 110px;
    }
    .icons{
        display: flex;
        justify-content: center;
    }
    .footer p {
        text-align: center;
    }
}

